body {
	background-color: transparent;
}

.message-list {
	list-style: none;
	padding: 0;
}

.message-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	/* border: 1px solid var(--vscode-input-border); */
	border-radius: 0.4em;
	background-color: white;
	min-height: 4em;
	align-items: center;
  color: black;
  padding: 0.4em;
  transition: transform .2s;
}
.message-entry:hover {
  /* background-color: #bcb9b9; */
  cursor: pointer;
  transform: scale(1.05);
}
.message-entry:active {
  transform: scale(1.05);
}

.selected{
  transform: scale(1.05);
  border: 3px #007ACC solid;
}



.message-input {
	color:black;
	/* display: block; */
	flex: 1;
	width: 100%;
	border: none;
	padding: 0 0.6em;
	margin-left: .2em;
}

.commit-message-button {
	display: block;
	border: none;
	margin: 0 auto;
}
.clear-messages-button {
	display: block;
	border: none;
	margin-top: 5;
}
