body {
	background-color: transparent;
}

.message-list {
	list-style: none;
	padding: 0;
}

.message-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

x


.message-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.commit-message-button {
	display: block;
	border: none;
	margin: 0 auto;
}
.clear-messages-button {
	display: block;
	border: none;
	margin-top: 5;
}
